@font-face {
    font-family: "authentic";
    src: url("https://cdn.glitch.global/de4e9710-0d28-4bc9-81be-948aeebd5702/AUTHENTICSans-90.otf?v=172774782200");
}

@font-face {
    font-family: "fossil";
    src: url("https://cdn.glitch.global/de4e9710-0d28-4bc9-81be-948aeebd5702/FOSSIL-Regular.OTF?v=1727796049215");
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');



/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
    overflow-y: hidden;
}

.browserbar {
    text-align: left;
    width: 100%;
    font-family: monospace;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 12px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
}

/* adjust typography defaults */
body {
    margin: 0;
    width: 150%;
    margin-top: 60px;
    font-family: "authentic", sans-serif;
    color: blue;
    line-height: 1.5;
    height: 100%;
}

::selection {
    background-color: chartreuse;

}

/* images and videos max out at full width */


h1 {
    font-size: 70px;
    line-height: 6rem;
    margin: 10px 0px;
    width: 300px;



}

#logo {
    display: flex;
    flex-flow: row nowrap;
    width: 400px;

}

h2,
h1 {
    padding: 0px 20px;
    vertical-align: baseline;
    font-weight: 300;

}

h2 {
    font-size: 15px;
    line-height: 1.5rem;
    width: 300px;

}

#surprise {
    position: absolute;
    top: 45%;
    left: 147%;
    font-size: 16px;
    text-align: right;
    /*     color:chartreuse; */
    z-index: -10;
}



#attribution {
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 1px;
    font-size: 11px;
    margin-left: -9px;
    padding-top: 10px;

}

#t {
    font-family: cursive;
    margin-top: -10px;
}

#p {
    font-family: "Times", serif;
    font-size: 78px;
    padding-left: 3px;
    margin-top: -10px;

}

.title:hover,
#t:hover,
#p:hover {
    font-family: "fossil";
    font-size: 60px;
    line-height: 6rem;
}

.title {
    background-color: oldlace;

}

section {
    display: flex;
    margin: 0px 20px;
    height: 70%;
    flex-flow: row nowrap;
    justify-content: flex-start;

}

section #desc {
    height: 400px;
    margin-top: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

}

#quote1,
#quote2 {
    height: 30px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    user-select: none;
    font-family: "IBM Plex Mono", monospace;
    transition: background-color 1s ease;
}

#quote1:hover,
#quote2:hover {
    background-color: blue;
    color: white;
    transition: background-color 1s ease;
}

#quote1 {
    top: 0px;
    border-bottom: 1px solid blue;
}

#quote2 {
    bottom: 0px;
    border-top: 1px solid blue;

}

.item {
    width: 200px;
    height: 140px;
    background-color: white;
    opacity: 0.9;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    border: 1px solid blue;
    display: flex;
    border-radius: 10px;
    animation: float 3s infinite ease-in-out;
    transition: background-color 0.5s ease;
    cursor: grab;

}

.item:hover {
    background-color: blue;
    transition: background-color 0.5s ease;
    opacity: 1;
    box-shadow: 4px 6px 12px rgba(127, 255, 0, 0.6);

}





.item a {
    text-align: center;
    align-items: middle;
    margin: auto;
    color: white;
}

.dotcontainer {
    position: absolute;
    height: 30px;
    border-bottom: 1px dotted blue;
    width: 100%;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 6px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 6px 3px;
    border-radius: 10px;
    background: none;
    border: 1px dotted blue;
}

.item-title {
    font-size: 16px;
}

.item-subtitle {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 12px;
}

@keyframes float {
    0% {
        translate: 0px 0px;
    }

    50% {
        translate: 0px -5px;
    }

    100% {
        translate: 0px 0px;
    }

}

@keyframes font {
    0% {
        font-family: Authentic;
    }

    50% {
        font-family: fossil;
    }

    100% {
        font-family: cursive;
    }
}